@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Courgette&family=Stalemate&display=swap');
body {
    margin: 0;
    padding: 0;
    background: #708d00;
    background-image: url(https://sawasawa.me/assets/img/cities.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    background: white;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0,0,0,0.5), 0 20px 100px rgba(0,0,0,0.5);
    transition: 1s;
}

.card:hover {
    transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0,0.5), 0 10px 100px rgba(0,0,0,0.5);
}

.card:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #475b02;
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #7EA301;
    transform-origin: left;
    transform: skewY(-45deg);
}

.card .imgBox,
.card .imgBox img {
    position: relative;
    width: 100%;
    height: 100%;
}

.card .imgBox {
    transform-origin: left;
    transition: 1s;
}
.card:hover .imgBox {
    transform: rotateY(-135deg);
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    z-index: -1;
}
h2 {
    font-family: 'Stalemate', cursive;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    display: none;
}

p {
    font-family: 'Courgette', cursive;
    font-size: 16px;
    /* display: none; */
}

